:root {
  --slate-900: #1F314F;
  --slate-500: #68778D;
  --slate-300: #D5E1EF;
  --white: #FFFFFF;

}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Outfit",
    sans-serif;
  font-weight: bold;
  font-size: 1.375rem;
  color: var(--slate-900);
  line-height: 120%;
  letter-spacing: 0rem;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: normal;
  color: var(--slate-500);
  font-size: 0.938rem;
  line-height: 140%;
  letter-spacing: 0.013rem;
  padding: 1rem 1rem 0rem;
}

.card-text {
  padding: 0rem 1rem 0rem;
}

.attribution {
  font-size: 0.688rem;
  text-align: center;
  padding-top: 0.625rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  background: var(--slate-300);
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.card {
  flex-direction: column;
  background: var(--white);
  width: 20rem;
  height: 31.2rem;
  margin: 0 auto;
  text-align: center;
  border-radius: 6.25rem;
}



img {
  width: 18rem;
  height: 18rem;
  border-radius: 6.25rem;
  vertical-align: middle;
  margin: 1rem 0rem 1.5rem;
}